@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cal+Sans&family=Golos+Text:wght@400..900&display=swap');

@import "tailwindcss";

@import "bootstrap-icons/font/bootstrap-icons.css";
@import 'remixicon/fonts/remixicon.css';

:root{
    --prim: #8eba32;
    --text: #1C1C1D;
    --body: #F6F6F6;
    --white: #fff;
    --black: #000;

    --CalSans: "Cal Sans", sans-serif;
    --GolosText: "Golos Text", sans-serif;
    --Audiowide: "Audiowide", sans-serif;

    --transition-regular: 0.3s;
    --transition-slow: 0.6s;
}

body{
    background-color: var(--body);
}

.CalSans{
    font-family: var(--CalSans);
}

.GolosText{
    font-family: var(--GolosText);
}

.Audiowide{
    font-family: var(--Audiowide);
}

/* Navbar */
.menu-link a{
    font-weight: 500;
    font-family: var(--GolosText);
}

/* Hero Header */
.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.hero:after{
    content: '';
    position: absolute;
}

