@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Cal+Sans&family=Golos+Text:wght@400..900&display=swap");

@import "tailwindcss";

@import "bootstrap-icons/font/bootstrap-icons.css";
@import "remixicon/fonts/remixicon.css";

:root {
  --prim: #8eba32;
  --text: #1c1c1d;
  --body: #f6f6f6;
  --white: #fff;
  --black: #000;

  --CalSans: "Cal Sans", sans-serif;
  --GolosText: "Golos Text", sans-serif;
  --Audiowide: "Audiowide", sans-serif;

  --transition-regular: 0.3s;
  --transition-slow: 0.6s;
}

body {
  background-color: var(--body);
}

.CalSans {
  font-family: var(--CalSans);
}

.GolosText {
  font-family: var(--GolosText);
}

.Audiowide {
  font-family: var(--Audiowide);
}

/* Navbar */
.menu-link a{
  font-weight: 500;
  font-family: var(--GolosText);
}

/* Hero Header */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.hero:after {
  content: "";
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: url(../public/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  z-index: -1;
  opacity: calc(40%);
}

.hero-span{
  position: relative;
}

.hero-span:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50% , -50%);
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: var(--prim);
}

.hero-bg-elm {
  position: absolute;
  top: 0;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background-color: var(--white);
  border-radius: 100%;
  box-shadow: 0 0 40px rgba(131, 131, 131, 0.1);
}

.hero-bg-elm2 {
  position: absolute;
  top: 70%;
  left: 3%;
  transform: translate(-50%, -50%);
  width: 770px;
  height: 700px;
  background-color: rgba(195, 195, 195, 0.3);
  border-radius: 100%;
  box-shadow: 0 0 40px rgba(131, 131, 131, 0.1);
}

.hero-content-img i {
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 50px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  color: var(--white);
}

.partner-img {
  @apply max-h-25 object-contain mx-auto;
  transition: var(--transition-regular);
  cursor: pointer;
}

.partner-swiper {
  padding: 20px !important;
}

.partner-img:hover {
  transform: scale(1.1);
}

/* About Section */

.about {
  position: relative; 
  z-index: 1;
}

.about::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../public/About-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: calc(40%);
  z-index: -1;
}

.title {
  position: relative;
}

.title:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(131, 131, 131, 0.3);
}

.title:before {
  content: "";
  position: absolute;
  top: -20%;
  right: 10%;
  width: 1px;
  height: 170px;
  background-color: rgba(131, 131, 131, 0.3);
}

.title-span:after {
  content: '';
  position: absolute;
  top: 25%;
  left: 4%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: var(--prim);
}

/* Paralex section */
.Paralex-wrap{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  will-change: transform, opacity;
}

.Paralex-wrap:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.20);
  z-index: -1;
}

.Paralex-content{
  height: 85vh;
}

/* Service Section */
.service:after{
  content: "Nature";
  position: absolute;
  line-height: 9rem;
  bottom: 0;
  left: 10%;
  font-size: 12rem;
  font-weight: 800;
  font-family: var(--Audiowide);
  opacity: 0.1;
  color: gray;
}

.service:before{
  content: '';
  position: absolute;
  background-image: url(../public/Service-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  bottom: -13%;
  right: 3%;
  height: 450px;
  width: 455px;
}


.service-img{
  transform: scale(0);
  opacity: 0;
  transition: var(--transition-slow);
}

.service-card:hover .service-img{
  transform: scale(0.9);
  opacity: 1;
}

.service-card:hover i{
  transform: rotate(45deg);
  background-color: var(--prim);
  color: var(--white);
  padding: 6px 10px;
  border-radius: 50%;
}

/* Expertise Section */
.expertise-slider{
  position: absolute;
  bottom: -43%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 90%;
  height: 700px;
  overflow: hidden;
  border-radius: 20px;
}

.expertise-slider img{
  animation: Anim-scale 4s forwards linear;
  border-radius: 20px;
}

@keyframes Anim-scale{
  0%{
    transform: scale(0);
  }
  50%{
    transform: scale(1);
  }
  100%{
    transform: scale(0);
  }
} 

/* PricingPlan Section */
.pricing-wrap{
  background-image: url(../public/pricing-banner.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.pricing-wrap:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #00000096 10%, #00000000);
  z-index: -1;
}

.pricing-card{
  position: relative;
  z-index: 1;
}

.pricing-card:after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 50%;
  background-image: url(../public/pricing-bg.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  opacity:calc(40%);
}

/* Testimonial Section */
.testimonial-image{
  height: 98vh;
  background-image: url(../public/Testimonial-image.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.restimonial-image:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0, 0.2);
}

/* Banner Section */
.banner{
  background-image: url(../public/Banner-image.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Newsletter Section */
.newsletter{
  z-index: 1;
}

.newsletter:after{
  content: '';
  position: absolute;
  background-image: url(../public/Newsletter-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Footer Section */
/* .footer{
  background-image: url(../public/Footer-bg.jpg);
  background-position:center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  z-index: 5;
} */


/* Services Page */
.section-bg{
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../public/Service-page-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.section-bg::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.service-wrap{
  width: 100%;
  height: 500px;
  position: relative;
  z-index: 1;

}

.service-wrap::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #000000d7, #00000050);
  z-index: -1;
}

.service-wrap::before{
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 70%;
  height: 100%;
  background: linear-gradient(120deg, 
  rgba(255, 255, 255, 0) 0%,
  rgba(255, 255, 255, 0.1) 40%,
  rgba(255, 255, 255, 0.6) 50%,
  rgba(255, 255, 255, 0.2) 60%,
  rgba(255, 255, 255, 0) 100%
  ); 
  z-index: -1;
}

.service-wrap:hover::before{
  animation: shineSweep 0.6s ease-out forwards;
}

@keyframes shineSweep{
  0% {
    left: -100%;
  }
  100% {
    left: 120%;
  }
}

/* Project Page Section */
.project-image::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: var(--transition-slow);
}

.project-card:hover .project-image::after{
  opacity: 0;
}

/* About Page Section */
.history-card{
  position: relative;
}

.history-card:before{
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: var(--prim);
  border-radius: 50%;
  left: 0;
  z-index: 9;
  top: 180px;
}

.history-card:after{
  content: '';
  position: absolute;
  height: 1px;
  width: 100vw;
  background-color: rgba(128, 128, 128, 0.3);
  left: 0;
  top: 190px;
}

/* Teams Section */
.team-card{
  position: relative;
}

.team-card::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #000000d4, #00000000 50%);
}

.team-wrapper .team-card:nth-child(2),
.team-wrapper .team-card:nth-child(5){
  transform: translateY(60px);
}

.team-content{
  position: absolute;
  bottom: -7%;
  left: 5%;
  z-index: 10;
  transition: var(--transition-slow);
}

.team-card:hover .team-content{
  bottom: 5%;
}

.teams-bg{
  position: relative;
}

.teams-bg::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/Team-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 991px) {
  .hero {
    height: 100%;
    margin-top: 8%;
  }

  .hero-content-img {
    top: 70%;
  }

  .about{
    background-position: top center;
  }

  .service:after{
    font-size: 8rem;
  }

  .service:before{
    height: 350px;
    bottom: -10%;
    width: 500px;
  }

  .service-img{
    transform: scale(1);
    opacity: 1;
    transition: var(--transition-slow);
  }

  .expertise-card{
    margin: 0 !important;
  }

  .expertise-slider{
    bottom: -20%;
    height: 550px;
  }

  .pricing-wrap{
    height: 300px;
  }

  .team-content{
    bottom: -8%;
  }

  .team-wrapper .team-card:nth-child(2),
  .team-wrapper .team-card:nth-child(5){
    transform: translateY(0px);
  }
}

@media (max-width: 575px) {
  .hero {
    margin-top: 10%;
  }

  .hero-content-img {
    top: 50% !important;
  }

  .service:before{
    display: none;
  }

  .expertise-slider{
    position: relative;
    width: 100%;
    height: 400px;
  }



}
